* {
  box-sizing: border-box;
  margin: 0;
}

#calculator-container {
  width: 302px;
  height: 470px;
  background-color: rgb(49, 47, 47);
  border: 4px solid rgb(31, 31, 31);
  border-radius: 5px;
  margin: 100px;
  padding: 7px;
  align-items: center;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
}
#results {
  width: 280px;
  margin-bottom: 2px;
  border: 4px solid black;
  border-radius: 5px;
  height: 100px;
  background-color: aliceblue;
  border: 2px solid black;
  display: flex;
  align-items: end;
}
#zero {
  background-color: #217c7e;
  width: 139px;
}
.number {
  background-color: #217c7e;
}
.clear,
.sign,
.percent,
.decimal {
  background-color: dodgerblue;
}
button {
  width: 70px;
  height: 70px;
  background-color: #ff8f1f;
  border-radius: 5px;
}
